Repository bids-standard/bids-validator, pull requests merged in 2018-11, with the labels that each got.

#591 [WIP] updating ieeg spec with new info
  bids_validator/rules/file_level_rules.json
  tests/json.spec.js
  tests/tsv.spec.js
  tests/type.spec.js
  validators/bids/groupFileTypes.js
  validators/json/schemas/ieeg.json
  validators/tsv/tsv.js
Labels: iEEG

#645 Error for empty files
  bids_validator/rules/file_level_rules.json
  tests/bids.spec.js
  tests/cli.spec.js
  tests/data/ds006_missing-session/dataset_description.json
  tests/data/ds006_missing-session/task-livingnonlivingdecisionwithplainormirrorreversedtext_bold.json
  tests/data/empty_files/CHANGES
  tests/data/empty_files/participants.tsv
  tests/data/empty_files/sub-0001/meg/sub-0001_task-AEF_run-01_meg.ds/BadChannels
  tests/data/empty_files/sub-0001/sub-0001_scans.tsv
  tests/utils/files.spec.js
  utils/files/__tests__/remoteFiles.spec.js
  utils/files/sessions.js
  utils/files/testFile.js
  utils/files/validateMisc.js
  utils/issues/list.js
  validators/bids/fullTest.js
  validators/bids/groupFileTypes.js
Labels: Internal Review

#660 [MRG] remove unsupported data formats eeg and ieeg
  bids_validator/rules/file_level_rules.json
  tests/type.spec.js
  validators/bids/groupFileTypes.js
Labels: EEG, iEEG

#661 [MRG] bring eeg json schema up to date
  tests/json.spec.js
  validators/json/schemas/eeg.json
  validators/json/schemas/ieeg.json
Labels: EEG
