Repository bids-standard/bids-validator, pull requests merged in 2024-08, with the labels that each got.

#2048 Cross reference local and schema issue codes
  bids-validator/src/issues/list.test.ts
  bids-validator/src/issues/list.ts
Labels: schema

#2068 feat(cli): Detect color support, respect flags and environment variables
  bids-validator/src/main.ts
  bids-validator/src/setup/options.test.ts
  bids-validator/src/setup/options.ts
Labels: schema

#2069 feat(legacy): Support local BIDS-URIs for IntendedFor fields
  bids-validator/validators/microscopy/checkJSONAndField.js
  bids-validator/validators/nifti/nii.js
Labels: legacy

#2066 rf(context): Move file tree, schema, and issues into context.dataset
  bids-validator/src/schema/applyRules.test.ts
  bids-validator/src/schema/applyRules.ts
  bids-validator/src/schema/context.test.ts
  bids-validator/src/schema/context.ts
  bids-validator/src/schema/expressionLanguage.test.ts
  bids-validator/src/schema/expressionLanguage.ts
  bids-validator/src/schema/walk.test.ts
  bids-validator/src/schema/walk.ts
  bids-validator/src/tests/local/hed-integration.test.ts
  bids-validator/src/tests/schema-expression-language.test.ts
  bids-validator/src/types/check.ts
  bids-validator/src/types/context.ts
  bids-validator/src/validators/bids.ts
  bids-validator/src/validators/filenameIdentify.test.ts
  bids-validator/src/validators/filenameIdentify.ts
  bids-validator/src/validators/filenameValidate.test.ts
  bids-validator/src/validators/filenameValidate.ts
  bids-validator/src/validators/hed.ts
  bids-validator/src/validators/internal/emptyFile.ts
Labels: schema

#2064 feat: Treat directory formats like other data files
  bids-validator/src/files/ignore.ts
  bids-validator/src/schema/context.ts
  bids-validator/src/schema/walk.ts
  bids-validator/src/tests/local/empty_files.test.ts
  bids-validator/src/types/filetree.ts
  bids-validator/src/types/schema.ts
Labels: schema

#2070 'schema.rules.rules'.... booo
  bids-validator/src/schema/applyRules.ts
Labels: impact: high, schema

#2057 feat: Track files referenced by other files to identify orphans
  bids-validator/src/files/browser.ts
  bids-validator/src/files/deno.ts
  bids-validator/src/files/inheritance.ts
  bids-validator/src/issues/datasetIssues.test.ts
  bids-validator/src/issues/list.ts
  bids-validator/src/schema/fixtures.test.ts
  bids-validator/src/schema/walk.ts
  bids-validator/src/tests/simple-dataset.ts
  bids-validator/src/types/filetree.ts
  bids-validator/src/validators/bids.ts
  bids-validator/src/validators/internal/unusedFile.ts
Labels: schema

#2116 feat: Validate CITATION.cff
  bids-validator/build.ts
  bids-validator/deno.json
  bids-validator/src/issues/list.ts
  bids-validator/src/setup/loadSchema.test.ts
  bids-validator/src/validators/bids.ts
  bids-validator/src/validators/citation.test.ts
  bids-validator/src/validators/citation.ts
  bids-validator/tests/data/citation/bad.cff
  bids-validator/tests/data/citation/good.cff
Labels: schema
